.code-block-caption {
    background-color: #ecd9a3;
    padding-left: 0.5rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}