@import '../../html/_static/alabaster.css';
div.document {
    width: 100%;
}

@import '../../html/_static/css/theme.css';
.rst-content .code-block-caption {
    background-color: #ecd9a3;
    padding-left: 0.5rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

@import '../../html/_static/copybutton.css';
a.copybtn.o-tooltip--left {
    width: 2em;
    height: 2em;
}