.code-block-caption {
    background-color: #ecd9a3;
    padding-left: 0.5rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.Bash {
    background-color: #cacaca;
}

@import '../../html/_static/basic.css';
div.literal-block-wrapper.docutils.container {
    padding: 0 1em 0 0;
}

@import '../../html/_static/basic.css';
table.highlighttable {
    margin-left: 0;
    max-width: 900px;
}

@import '../../html/_static/basic.css';
div.body {
    max-width: 900px;
}

@import '../../html/_static/alabaster.css';
div.document {
    width: 100%;
}